.bgc{
    background-color:#3e4c59;
}
.para{
    color:#cced00;
    font-size: 20px;
    padding-left: 29px;
}
.para1{
    color: white;
    font-size: 35px;
    padding-left: 29px;
}
.bg-co{
    background-color:#323f4b;
}
.card-title{
    color: white !important;
}
.card-text{
    color:#9aa5b1 ;
}
.para3{
    color:#cced00;
}
.para-height{
    line-height: 25px;
}