.bgc{
    background-color: #0d2436;
}
.rounded{
    border-radius: 50px !important;
}
.para{
    color: #cced00;
}
.bgcoll{
    background-color:#001c32;
    padding: 20px;
}
.para1{
    color: rgb(126, 126, 131);
}