.bgb{
    background-color: #fb4e71;
    color: #ffffff;
}
.hhh{
    background-color: #ffffff;
    color: #323f4b;
}
.bgc{
    background-color: #e6f6ff;
}
.bbb{
    color: #888888;
    border: none;
}
/* .but{
    background-color: blue;
    border: none;
} */
